<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LNHSVoting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LNHSVoting.Properties.Settings.LNHSVotingConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\LNHSVoting.mdb;Jet OLEDB:Database Password=9uAv92fjSh2E"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <LNHSVoting.Properties.Settings>
            <setting name="ReportWorksheetPW" serializeAs="String">
                <value>2Pd4HdP52snJ</value>
            </setting>
            <setting name="WorkbookPW" serializeAs="String">
                <value>Xx3s47hFEtu2</value>
            </setting>
        </LNHSVoting.Properties.Settings>
    </userSettings>
</configuration>
