<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StudentElection.Properties.Network" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="StudentElection.MSAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StudentElectionContext" connectionString="metadata=res://*/Model.StudentElectionContext.csdl|res://*/Model.StudentElectionContext.ssdl|res://*/Model.StudentElectionContext.msl;provider=Npgsql;provider connection string=&quot;Port=5433;Host=localhost;Database=StudentElection;Username=postgres&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StudentElection.MSAccess.Properties.Settings.StudentElectionConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\StudentElection.mdb;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
	<appSettings>
		<clear />
		<add key="DatabaseType" value="Unknown" />
	</appSettings>
  <userSettings>
    <StudentElection.Properties.Network>
      <setting name="NetworkFolderAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="NetworkFolderName" serializeAs="String">
        <value />
      </setting>
    </StudentElection.Properties.Network>
    <StudentElection.MSAccess.Properties.Settings>
      <setting name="StudentElectionConnectionPassword" serializeAs="String">
        <value />
      </setting>
    </StudentElection.MSAccess.Properties.Settings>
  </userSettings>
</configuration>