<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StudentElection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="StudentElection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="StudentElection.MSAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StudentElection.Properties.Settings.StudentElectionConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\StudentElection.mdb;Jet OLEDB:Database Password=9uAv92fjSh2E" providerName="System.Data.OleDb" />
    <add name="StudentElection.MSAccess.Properties.Settings.StudentElectionConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\StudentElection.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="StudentElectionContext" connectionString="metadata=res://*/Model.StudentElectionContext.csdl|res://*/Model.StudentElectionContext.ssdl|res://*/Model.StudentElectionContext.msl;provider=Npgsql;provider connection string=&quot;Port=5433;Host=localhost;Database=StudentElection;Username=postgres&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <StudentElection.Properties.Settings>
      <setting name="ReportWorksheetPW" serializeAs="String">
        <value>2Pd4HdP52snJ</value>
      </setting>
      <setting name="WorkbookPW" serializeAs="String">
        <value>Xx3s47hFEtu2</value>
      </setting>
    </StudentElection.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="StudentElection.Repository.Interfaces.IUserRepository" value="StudentElection.MSAccess.Repositories.UserRepository, StudentElection.MSAccess, Version=1.0.0.0, Culture=neutral" />
    <add key="StudentElection.Repository.Interfaces.IElectionRepository" value="StudentElection.MSAccess.Repositories.ElectionRepository, StudentElection.MSAccess, Version=1.0.0.0, Culture=neutral" />
    <add key="StudentElection.Repository.Interfaces.IPositionRepository" value="StudentElection.MSAccess.Repositories.PositionRepository, StudentElection.MSAccess, Version=1.0.0.0, Culture=neutral" />
    <add key="StudentElection.Repository.Interfaces.IPartyRepository" value="StudentElection.MSAccess.Repositories.PartyRepository, StudentElection.MSAccess, Version=1.0.0.0, Culture=neutral" />
    <add key="StudentElection.Repository.Interfaces.ICandidateRepository" value="StudentElection.MSAccess.Repositories.CandidateRepository, StudentElection.MSAccess, Version=1.0.0.0, Culture=neutral" />
		<add key="StudentElection.Repository.Interfaces.IVoterRepository" value="StudentElection.MSAccess.Repositories.VoterRepository, StudentElection.MSAccess, Version=1.0.0.0, Culture=neutral" />
  </appSettings>
  <!--<appSettings>
		<add key="StudentElection.Repository.Interfaces.IUserRepository" value="StudentElection.PostgreSQL.Repositories.UserRepository, StudentElection.PostgreSQL, Version=1.0.0.0, Culture=neutral" />
		<add key="StudentElection.Repository.Interfaces.IElectionRepository" value="StudentElection.PostgreSQL.Repositories.ElectionRepository, StudentElection.PostgreSQL, Version=1.0.0.0, Culture=neutral" />
		<add key="StudentElection.Repository.Interfaces.IPositionRepository" value="StudentElection.PostgreSQL.Repositories.PositionRepository, StudentElection.PostgreSQL, Version=1.0.0.0, Culture=neutral" />
		<add key="StudentElection.Repository.Interfaces.IPartyRepository" value="StudentElection.PostgreSQL.Repositories.PartyRepository, StudentElection.PostgreSQL, Version=1.0.0.0, Culture=neutral" />
		<add key="StudentElection.Repository.Interfaces.ICandidateRepository" value="StudentElection.PostgreSQL.Repositories.CandidateRepository, StudentElection.PostgreSQL, Version=1.0.0.0, Culture=neutral" />
		<add key="StudentElection.Repository.Interfaces.IVoterRepository" value="StudentElection.PostgreSQL.Repositories.VoterRepository, StudentElection.PostgreSQL, Version=1.0.0.0, Culture=neutral" />
	</appSettings>-->
  <applicationSettings>
    <StudentElection.Properties.Settings>
      <setting name="SystemTitle" serializeAs="String">
        <value>Student Election System</value>
      </setting>
    </StudentElection.Properties.Settings>
  </applicationSettings>
</configuration>